version: "3"
services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: mmuser
      POSTGRES_PASSWORD: mmuser-password
      POSTGRES_DB: mattermost
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    networks:
      - mm-network

  mattermost:
    image: mattermost/mattermost-team-edition:latest
    restart: always
    depends_on:
      - db
    environment:
      MM_USERNAME: mmuser
      MM_PASSWORD: mmuser-password
      MM_DBNAME: mattermost
      MM_SQLSETTINGS_DRIVERNAME: postgres
      MM_SQLSETTINGS_DATASOURCE: postgres://mmuser:mmuser-password@db:5432/mattermost?sslmode=disable
      MM_SERVICESETTINGS_SITEURL: https://{{ hostname }}
    volumes:
      - ./config:/mattermost/config
      - ./data:/mattermost/data
      - ./logs:/mattermost/logs
      - ./plugins:/mattermost/plugins
      - ./client/plugins:/mattermost/client/plugins
    ports:
      - "127.0.0.1:8065:8065"
    networks:
      - mm-network

networks:
  mm-network:
    driver: bridge
